@media (max-width: 768px) {
    /** START HEADER **/
    #top {
        height: auto;
        padding-top: 0;
        background-size: auto 100%;
    }

    #top .inner {
        padding: 10px 0;
        width: 90%;
    }

    #bottom {
        width: 90%;
    }

    #logo {
        float: none;
        padding: 0;
    }

    #logo a img {
        width: 100%;
        padding-top: 15px;
    }

    #header_advert{
        background:white;
        position:fixed;
        bottom:0px;
        z-index:1;
        width:100%;
        left:0px;
        border-top; 3px double #a07011;
    }
    .advt_single img{
        margin:auto;
        display:block;
        padding: 5px 0 3px 0;
    }

    #g01_top:after{
        content:"";
        display:block;
        background:url('../images/sp/menu-img.png') no-repeat;
        width:40px;
        height:40px;
        float:right;
        margin-top:20px;
    }

    ul#gnv, ul#gnv li#g08 {
        width:100% !important;
    }
    ul#gnv li {
        display:none;
        width:50%;
    }
    ul#gnv li#g01_top {
        width:100% !important;
        background:#FC7B82;
        padding-left:5px;
        display: block !important;
    }
    ul#gnv li#g01_top a {
        width: 72px !important;
        float:left;
        background-position: 0 -60px !important;
    }
    ul#gnv li a {
        width:100% !important;
        padding-left:5px !important;
        background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent !important;
    }


    ul#gnv li a:hover {
        background:url("../images/gnv.png") no-repeat scroll -70px -60px transparent !important;
    }

    ul#gnv li:first-child:hover {
        background: #fc7b82 !important;
    }

    /** END HEADER **/


    /** START INDEX **/
    #access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
        width: 100% !important;
    }


    #container {
        float: none;
    }

    #content {
        width: 90%;
        margin: auto;
    }

    /** END HEADER **/
}

