@media (max-width: 768px) {
    /** START HEADER **/
    #top {
        height: auto;
        padding-top: 0;
        background-size: auto 100%;
    }

    #top .inner {
        padding: 10px 0;
        width: 90%;
    }

    #bottom {
        width: 90%;
    }

    #logo {
        float: none;
        padding: 0;
    }

    #logo a img {
        width: 100%;
        padding-top: 15px;
    }

    /** END HEADER **/
}