@media (max-width: 768px) {
    body {
        padding-bottom: 93px;
    }

    /** START HEADER **/
    #top {
        height: auto;
        padding-top: 0;
        background-size: auto 100%;
    }

    #top .inner {
        padding: 10px 0;
        width: 90%;
    }

    #bottom {
        width: 90%;
    }

    #logo {
        float: none;
        padding: 0;
    }

    #logo a img {
        width: 100%;
        padding-top: 15px;
    }

    #header_advert{
        background:white;
        position:fixed;
        bottom:0px;
        z-index:1;
        width:100%;
        left:0px;
        border-top; 3px double #a07011;
    }
    .advt_single img{
        margin:auto;
        display:block;
        padding: 5px 0 3px 0;
    }

    #g01_top:after{
        content:"";
        display:block;
        background:url('../images/sp/menu-img.png') no-repeat;
        width:40px;
        height:40px;
        float:right;
        margin-top:20px;
    }

    ul#gnv, ul#gnv li#g08 {
        width:100% !important;
    }
    ul#gnv li {
        display:none;
        width:50%;
    }
    ul#gnv li#g01_top {
        width:100% !important;
        background:#FC7B82;
        padding-left:5px;
        display: block !important;
    }
    ul#gnv li#g01_top a {
        width: 72px !important;
        float:left;
        background-position: 0 -60px !important;
    }
    ul#gnv li a {
        width:100% !important;
        padding-left:5px !important;
        background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent !important;
    }


    ul#gnv li a:hover {
        background:url("../images/gnv.png") no-repeat scroll -70px -60px transparent !important;
    }

    ul#gnv li:first-child:hover {
        background: #fc7b82 !important;
    }

    /** END HEADER **/


    /** START INDEX **/
    #access .menu-header, div.menu, #colophon, #branding, #main, #wrapper {
        width: 100% !important;
    }


    #container {
        float: none;
    }

    #content {
        width: 90%;
        margin: auto;
    }


    .main_img {
        width: 100%;
        height: auto;
    }

    .simpleSlideShowWrapper {
        padding-bottom: 23.5%;
        height: auto !important;
        width: 100% !important;
    }

    .simpleSlideShowWrapper img {
        margin-left: 5%;
        width: 90%;
    }

    .title_bar01, .title_bar02, .title_bar03 {
        width: 100%;
    }

    .mc_waku {
        width: 100% !important;
        text-align: center;
    }

    .mc_waku > div {
        margin: 5px 1%;
        display: inline-block;
        float: none;
        width: 31%;
        background-size: 100%;
        position: relative;
        height: auto;
        vertical-align: top;
    }

    .catch01 {
        height: auto;
        margin: 0;
        position: absolute;
        font-size: 12px;
        padding: 5% 5% 0;
        width: 90%;
    }

    .catch02 {
        margin: 68.5% 0 0;
        width: 100%;
    }

    .catch03 {
        /*font-size: 9px;*/
        margin-bottom: 3%;
        width: 100% !important;
    }


    .space {
        display: none !important;
    }

    /** END INDEX **/


    /** START SIDEBAR **/

    #primary {
        float: none;
        margin: auto;
        width: 90% !important;
    }

    .sb {
        margin: auto;
    }

    .block-1 {
        width: 100%;
    }

    .block-1 h2 {
        width: 100%;
        background-size: 100% 100%;
    }

    .block-1 h2 img {
        margin-left: 1%;
    }

    .block-1 .block-1-content {
        width: 100%;
        background-size: 100% 100%;
    }

    ul.xoxo li#text-4 .textwidget {
        text-align: center;
    }

    ul.xoxo li#text-4 .textwidget > div {
        display: inline-block;
        vertical-align: top;
    }

    ul.xoxo li#text-4 .textwidget div:nth-child(2) img {
        width: 123px;
    }
    /** END SIDEBAR **/


    /** START FOOTER **/
    #footer {
        padding: 0;
        height: auto;
        background-size: auto 100%;
    }

    #footer-inner {
        width: 90%;
        padding: 10px 0;
    }

    #footer-inner > a {
        width: 21%;
        display: inline-block;
        margin: 0 !important;
        text-align: center;
    }

    .footer-wrapper-2 .footer-2{
        width: 100%;
        margin: auto;
        padding: 10px 0;
    }

    .footer-wrapper-2 .footer-2 .left, .footer-wrapper-2 .footer-2 .right {
        float: none;
        text-align: center;
    }

    /** ABOUT.html **/

    /** START INDEX **/
    .mcwt {
        width: 100%;
    }

    .mcwm {
        width: 100%;
    }

    .contentsInfo {
        width: 90%;
        margin: 10px 0 0px 25px;
    }

    .contentsInfo p[align='center'] > img {
        width: 100%;
        height: auto;
    }

    .mcwu {
        width: 100%;
        margin-bottom: 20px;
    }
    /** END INDEX **/
}

