/* Practice Task - Responsive Cascading Stylesheet */
/* ---- START BODY ---- */
	body {
		padding-bottom:80px;
	}
	.home {
		width:100%;
	}
	#logo a img {
		float:left;
		width:100%;
	}
/* ---- END BODY ---- */

/* ---- START TOP ---- */
	#top {
		background-size:contain;
		height:auto;
	}
	#top .inner {
		width:92%;
	}

	#top h1 {
		text-align:center;
		padding:0 0 10px 0;
	}
/* ---- END TOP ---- */

@media (max-width:768px){
/* ---- START TOP  ---- */
	#top {
		background-size:200px 100%;
	}
	#bottom {
		width:100%;
	}
	
/* ---- END TOP  ---- */

/* ---- START HEADER_ADVERT ---- */
	#header_advert{
		background:white;
		position:fixed;
		bottom:0px;
		z-index:1;
		width:100%;
		left:0px;
	}
	.advt_single img{
		margin:auto;
		display:block;
		padding: 5px 0 3px 0;
	}
/* ---- END HEADER_ADVERT ---- */	
/* ---- START LOGO ---- */
	#logo {
		width:90%;
		padding: 4% 0 2% 5%;
	}
/* ---- END LOGO ---- */
/* ---- START MENU BAR ---- */
	#g01_top {
		display:block !important;
	}
	#g01_top:after{
		content:"";
		display:block;
		background:url('../images/sp/menu-img.png') no-repeat;
		width:40px;
		height:40px;
		float:right;
		margin-top:20px;
	} 
	ul#gnv {
		width:100% !important;
	}
	ul#gnv li {
		display:none;
		width:50%;
	}
	ul#gnv li#g01_top {
		width:100% !important;
		background:#FC7B82;
		padding-left:5px;
	}
	ul#gnv li#g01_top a {
		width: 72px !important;
		float:left;
	}
	ul#gnv li a {
		width:100% !important;
		padding-left:5px !important;		
	}
	
	ul#gnv li#g08{
		width:100%;
	}
	ul#gnv li#g02 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g03 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g04 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g05 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g06 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g07 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g08 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li:hover {
		background:#FC7B82;
    	color: #FFFFFF !important;
	}
/* ---- END MENU BAR ---- */
/* ---- START MAIN ---- */
	#main {
		width:90%;
		padding:10px 0 0 0;
		margin:auto;
	}
	#main #container {
		float:none;
		width:100%;
	}
	#main #container #content {
		width:100%;
		margin:auto;
	}
	#main #container #content .main_img {
		width:100%;
		border-radius:5px;
		height:100%;
		background-size:100% 100%;
		padding-bottom:50%;
		margin: 0 0 10px 0;
	}
	.simpleSlideShowWrapper {
		width:100% !important;
		height:auto !important;
	}
	.simpleSlideShowWrapper img {
		width:90% !important;
		margin:5%;
	}
/* ---- END MAIN ---- */
/* ---- START TITLE BAR ----*/
	.title_bar01 {
		width:100%;
		margin-bottom:10px;
	}
	.title_bar03 {
		width: 100%;
		margin:10px 0 10px;
	}
/* ---- END TITLE BAR ---- */
/* ---- START SIDEBAR PRIMARY ---- */
	#primary, #secondary {
		float:none;
		overflow:visible;
	}
/* ---- END SIDEBAR PRIMARY ---- */
/* ---- START MC_WAKU ---- */
	.mc_waku {
		width:100% !important;
	}
/* ---- END MC_WAKU ---- */
}
@media (max-width:400px){
	/* ---- START TITLE BAR ---- */
		.title_bar02, .title_bar03 {
			margin: 3px 0 10px;
			
		}
	/* ---- END TITLE BAR ---- */
	/* ---- START mc_waku ---- */
		.mc_waku > div {
			background-size:100%;
			width:100% !important;
			height:auto !important;
			padding:0 0 10px 0 !important;
		}
		.mc_waku > .mc01 > .catch01, .mc_waku > .mc03 > .catch01,
		.mc_waku > .mc05 > .catch01, .mc_waku > .mc06 > .catch01,
		.mc_waku > .mc11 > .catch01 {
			padding-bottom:70%;
		}
		.mc_waku > .mc02 > .catch01 {
			padding-bottom:54%;
		}
		.mc_waku > .mc04 > .catch01 {
			padding-bottom:58%;
		}
		.mc_waku > .mc07 > .catch01, .mc_waku > .mc08 > .catch01 {
			padding-bottom:77%;
		}
		.mc_waku > .mc09 > .catch01,.mc_waku > .mc10 > .catch01,
		.mc_waku > .mc12 > .catch01  {
			padding-bottom:64%;
		}
		.catch01 {
			width:100% !important;
			height:auto !important;
		}
		
		.catch02 {
			font-size:20px;
			width:100% !important;
			height:auto !important;
		}
		.catch03 {
			font-size:15px;
			width:100% !important;
			padding-bottom:10px;
			height:auto !important;
		}
		.space {
			display:none !important;
		}
	/* ---- END mc_waku ---- */
	/* ---- START TEXTWIDGET ---- */
		.textwidget {
			margin:auto;
		}
	/* ---- END TEXTWIDGET ---- */
	/* ---- START SIDEBAR ---- */
		#primary , .sb{
			width:100% !important;
		}
		.xoxo {
			padding:0 !important;
		}
		#banner_area, .sb {
			margin:auto;
		}
		.sb {
			text-align:center;
		}
		.widget-container {
			margin:4px 0 -10px 0;
		}
		#text-4 , #text-3 {
			margin:15px 0 0 0;
		}
		.block-1 .block-1-content {
			background-size:100% 100%;
		}
		.block-1 {
			margin:0;
			width:100%
		}
		.block-1 h2 {
			width:100%;
			padding:4px;
			background-size:100% 100%;
		}
		.latest-article-last {
			background:url("../images/line-h-dashed-2.png") repeat-x scroll left bottom transparent !important;
		}
		.sideSubInfo {
			width:85%;
		}
		
	/* ---- END PRIMARY ---- */
	
}