/* Practice Task - Responsive Cascading Stylesheet */
/* ---- START BODY ---- */
	body {
		padding-bottom:80px;
	}
	.home {
		width:100%;
	}
	#logo a img {
		float:left;
		width:100%;
	}
/* ---- END BODY ---- */

/* ---- START TOP ---- */
	#top {
		background-size:contain;
		height:auto;
	}
	#top .inner {
		width:95%;
	}

	#top h1 {
		text-align:center;
		padding:0 0 8px 0;
	}
/* ---- END TOP ---- */

@media (min-width:769px) {
	#bottom {
		width:72%;
	}
}
@media (max-width:768px){
/* ---- START TOP  ---- */
	#top {
		background-size:200px 100%;
	}
	#bottom {
		width:95%;
	}
	
/* ---- END TOP  ---- */

/* ---- START HEADER_ADVERT ---- */
	#header_advert{
		background:white;
		position:fixed;
		bottom:0px;
		z-index:1;
		width:100%;
		left:0px;
	}
	.advt_single img{
		margin:auto;
		display:block;
		padding: 5px 0 3px 0;
	}
/* ---- END HEADER_ADVERT ---- */	
/* ---- START MENU BAR ---- */
	#g01_top {
		display:block !important;
	}
	#gnv ul li {
		display:none !important;
	}
	#g01_top:after{
		content:"";
		display:block;
		background:url('../images/sp/menu-img.png') no-repeat;
		width:40px;
		height:40px;
		float:right;
		margin-top:20px;
	} 
	ul#gnv {
		width:100% !important;
	}
	ul#gnv li {
		display:none;
		width:50%;
	}
	ul#gnv li#g01_top {
		width:100% !important;
		background:#FC7B82;
		padding-left:5px;
	}
	ul#gnv li#g01_top a {
		width: 72px !important;
		float:left;
	}
	ul#gnv li a {
		width:100% !important;
		padding-left:5px !important;		
	}
	
	ul#gnv li#g08{
		width:100%;
	}
	ul#gnv li#g02 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g03 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g04 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g05 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g06 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g07 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li#g08 a {
		background:url("../images/gnv.png") no-repeat scroll -70px 0 transparent;
		
	}
	ul#gnv li:hover {
		background:#FC7B82;
    	color: #FFFFFF !important;
	}
}
/* ---- END MENU BAR ---- */
